* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --mainFont: 'lato', sans-serif;
  --secondaryFont:'josefin sans', sans-serif;
  --primarycolor: #fb2e86;
}
a {
  text-decoration: none;
}
.nav-content .its-item {
  color: black;
}
.d-flex {
  display: flex;
  flex: wrap;
}
.text-center {
  text-align: center;
} 
.flex-dir {
  flex-direction: column;
}
ul {
  list-style-type: none;
}
.btnprim2{
  padding: 9px 13px;
  color: #fff;
  border: none;
  font-family: var(--secondaryFont);
  margin-bottom: 9px;
  border-radius: 2px;
}

.stylingforthings{
  text-decoration: line-through;
  color: #FB2448;
}

.gap-1 {
  gap: 21px;
}
.gap-2 {
  gap: 25px;
}
.gap-3{
  gap: 15px;
}
.gap-4{
  gap: 10px;
}
.btn /*can use for buttons and anchor*/ {
  background-color: var(--primarycolor);
  outline: border;
  border: none;
  color: white;
  padding: 16px 40px;
  border-radius: 2px;
  cursor: pointer;
}
.btn-hero {
  background-color: var(--primarycolor);
  outline: border;
  border: none;
  color: white;
  padding: 12px 30px;
  border-radius: 2px;
  cursor: pointer;
}

.btn-primary {
  background-color: var(--primarycolor);
}
.primary-col {
  color: var(--primarycolor);
}
.row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
 
.test-white {
  color: #fff;
}
.container {
  width: calc(100% - 320px);
  margin: 0 auto;
}
@media screen and (max-width: 1400px) {
  .container {
    width: calc(100% - 200px);
  }
}
@media screen and (max-width: 992px) {
  .container {
    width: calc(100% - 100px);
  }
}
@media screen and (max-width: 576px) {
  .container {
    width: calc(100% - 40px);
  }
}
@media screen and (max-width: 400px) {
  .container {
    width: calc(100% - 20px);
  }
}

.headerr .bar {
  display: none;
}
.font-size1 {
  font-size: 17px;
}

