body {
  font-family: var(--mainFont);
}

.headerr {
  padding: 56px 0;
}
.headerr .nav-content ul {
  display: flex;
  flex-wrap: wrap;
  gap: 35px;
  font-size: 16px;
}

.textbox {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.textbox .btn,
input {
  padding: 8px 13px;
}
.textbox input {
  width: 266px;
}
.textbox form {
  border: 1px solid #e7e6ef;
}
.textbox button,
input {
  border: none;
  outline: none;
}
.headerr .bar {
  display: none;
}
@media screen and (max-width: 1184px) {
  .nav-content,
  .headerr .textbox {
    display: none;
  }
  .headerr .bar {
    display: block;
  }
}
/*end header*/
/*start featured-prods*/
.featured-product .code-info {
  display: flex;
  flex-direction: column;
}
.featured-product {
  padding: 129px 0;
}
.featured-product .row {
  gap: 29px;
  justify-content: flex-start;
  align-items: stretch;

}
.featured-product h2 {
  font-size: 30px;
  font-family: "Lato", sans-serif;
  font-weight: bold;
  color: #1A0B5B;
  margin-bottom:48px ;
  
}

.featured-product .product {
  flex: 1 1 calc(25% - 29px);
  box-shadow: 0px 4px 4px #00000040;
  border-radius: 10px;
}
.product .img {
  background-color: #F6F7FB;
  padding: 30px;
  height: 230px;
}
.featured-product .product-details {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.featured-product .color{
  width: 20px;
  height: 6px;
  border-radius: 50px;
  border: none;
  cursor: pointer;
}
.uniquecolor{
  background-color: #2F1AC4;
}
.product-details .code-info{
  color: #1A0B5B;
  font-size: 14px;
  font-family: 'josefin Sans', sans-serif;
}
.uniquecolor h3, .uniquecolor .code-info{
  color: white;
}
/* color options */
.color-one {
  background-color: #05E6B7;
}
.color-two{
  background-color: #F701A8;
}
.color-three{
  background-color: #00009D;
}
.three{
  background-color: #FFEAC1;
}
/*end feautred-prods*/

/*Middle newslatter start*/
.middle-newslatter {
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  width: 100%;
  gap: 28px;
  display: flex;
  padding: 174px 0;
  background-image: url(../img/Group\ 162.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.middle-newslatter h2 {
  font-size: 35px;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700;
  color: #151875;
}
.middle-newslatter a {
  color: #fff;
  background-color: var(--primarycolor);
  padding: 16px 34px;
  border-radius: 5px;
}
.shop-btn {
  transition: filter 0.3s ease;
}
.shop-btn:hover {
  filter: brightness(90%);
}
/*middle newslatter end*/
.clients {
  padding: 50px 0;
  width: 100%;
}

.clients .row {
  flex-wrap: nowrap;
  gap: 15px;
  overflow-x: auto;
}

.clients .logo {
  width: calc((100% - 80px) / 5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.clients .logo img {
  width: 150px;
  height: 1 50px;
}

@media screen and (max-width: 900px) {
  .clients .logo {
    width: calc((100% - 30px) / 3);
  }
}
/*start footer*/

@media screen and (max-width: 600px) {
  .featured-product .row {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .featured-product .product {
    width: 100%;
    max-width: 350px;
    margin: 0 auto 20px auto;
  }
  .headerr .bar {
    
    top: 10px;
    right: 10px;
    z-index: 1000;
  }
}
.footer {
  background-color: #eeeffb;
}
.footer .row {
  gap: 30px;
}
.footeritem nav {
  display: flex;
  flex-direction: column;
}
.footeritem {
  gap: 43px;
  width: calc((100% - 70px) / 3);
}
.footer .left {
  gap: 35px;
  width: calc((100% - 30) / 2);
  align-items: flex-start;
}
.footer .right {
  width: calc((100% - 30) / 2);
}
.footer .right .row {
  gap: 35px;
  align-items: flex-start;
}

.footer {
  padding: 95px 0;
}
.footer .adress-info {
  gap: 10px;
}
.footer a,
.adress-info {
  color: #8a8fb9;
}
.adress-info {
  gap: 10px;
}
@media screen and (max-width: 992px) {
  .footer .left,
  .footer .right {
    width: 100%;
  }
}
@media screen and (max-width: 992px) {
  .footeritem,
  .footer {
    width: 100%;
    text-align: center;
  }
}
