body {
  font-family: var(--mainFont);
}

.headerr {
  padding: 56px 0;
}
.headerr .nav-content ul {
  display: flex;
  flex-wrap: wrap;
  gap: 35px;
  font-size: 16px;
}

.textbox {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.textbox .btn,
input {
  padding: 8px 13px;
}
.textbox input {
  width: 266px;
}
.textbox form {
  border: 1px solid #e7e6ef;
}
.textbox button,
input {
  border: none;
  outline: none;
}
.headerr .bar{
  display: none;
}
@media screen and (max-width: 1184px) {
  .nav-content,
  .headerr .textbox {
    display: none;
  }
  .headerr .bar {
    display: block;
  }
}
/*end header*/

/*start footer*/
.footer {
  background-color: #eeeffb;
}
.footer .row {
  gap: 30px;
}
.footeritem nav {
  display: flex;
  flex-direction: column;
}
.footeritem {
  gap: 43px;
  width: calc((100% - 70px) / 3);
}
.footer .left {
  gap: 35px;
  width: calc((100% - 30) / 2);
  align-items: flex-start;
}
.footer .right {
  width: calc((100% - 30) / 2);
}
.footer .right .row {
  gap: 35px;
  align-items: flex-start;
}

.footer {
  padding: 95px 0;
}
.footer .adress-info {
  gap: 10px;
}
.footer a,
.adress-info {
  color: #8a8fb9;
}
.adress-info {
  gap: 10px;
}
@media screen and (max-width: 992px) {
  .footer .left,
  .footer .right {
    width: 100%;
  }
}
@media screen and (max-width: 992px) {
  .footeritem,
  .footer {
    width: 100%;
    text-align: center;
  }
}
